.form-group {
  font-family: $font-secondary;
  margin: 8px 0;
  text-align: left;

  label {
    color: #595959;
    font-size: 0.75rem;
    margin-bottom: 3px;
  }
  input {
    &.form-control {
      border-radius: 5px;
      height: 44px;
      color: #151F28;
    }
  }
  .form-control {
    background-color: #FFFFFF;
    border: 1px solid #CCD3D9;
    border-radius: 4px;
    box-shadow: none;
    color: #66615b;
    font-family: $font-secondary;
    font-size: 0.875rem;
    line-height: normal;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &.is-invalid {
      background-image: none;
      border-color: $color-danger;
    }
    &::-webkit-input-placeholder {
      color: #979797;
    }
    &::-moz-placeholder {
      color: #979797;
    }
    &:-ms-input-placeholder {
      color: #979797;
    }
    &:-moz-placeholder {
      color: #979797;
    }
  }
  input[type="password"] {
    &.form-control {
      &.__filled {
        font-size: 42px;
        letter-spacing: 2px;
      }
    }
  }
  .form-control-link {
    font-size: 0.75rem;
    text-decoration: none;
  }
}
.form-title {
  color: #151F28;
  font-size: 36px;
  font-weight: bold;
  font-family: $font-primary;
  margin-bottom: 0.75rem;
}
.form-comment {
  font-family: $font-primary;
  font-size: 18px;
  margin: 10px 0;
}
.form-error {
  color: $color-danger;
  font-family: $font-primary;
  margin-bottom: 0;
}
button.form-password-eye {
  background: none;
  border: none;
  display: inline-block;
  outline: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 38px;
}

.form-select__placeholder {
  white-space: nowrap;
}

.form-check {
  color: #595959;
  cursor: pointer;
  font-family: $font-secondary;
  font-size: 0.75rem;
  line-height: normal;
  margin-top: 1rem;
  padding-left: 1.25rem;
  text-align: left;

  label {
    cursor: pointer;
  }
}
.form-check-input {
  cursor: pointer;
  height: 16px;
  margin-top: -0.04rem;
  width: 16px;
}