.icon-lang-en,
.icon-lang-fr {
  background-size: contain;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.icon-lang-fr {
  background-image: url(../assets/images/icons/fr_flag.svg);
}
.icon-lang-en {
  background-image: url(../assets/images/icons/en_flag.svg);
}

.icon-eye {
  background-image: url(../assets/images/icons/eye_disable.svg);
  background-size: contain;
  display: inline-block;
  height: 14px;
  width: 20px;

  &.active {
    background-image: url(../assets/images/icons/eye_active.svg);
  }
}

.icon-send-email {
  background-image: url(../assets/images/icons/send-email.svg);
  background-size: contain;
  display: inline-block;
  height: 128px;
  width: 128px;
}