.login-page {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: unset !important;
  min-height: 100vh;
  padding: 0;

  .wrap-content {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    width: 100%;
  }
  .login-container {
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    text-align: center;
    width: 60%;
  }
  .login-form {
    margin-bottom: 30px;
  }
  .login-link {
    display: inline-block;
    margin-top: 10px;
  }
  .login-submit {
    height: 44px;
    margin-bottom: 30px;
    margin-top: 24px;
  }
  .icon-send-email {
    margin-bottom: 55px;
    margin-top: 55px;
  }
  .login-user-email {
    font-size: 18px;
    font-weight: 600;
    font-family: $font-secondary;
    margin-bottom: 10px;
  }
}

.line-width-text {
  align-items: center;
  display: flex;
  font-family: $font-secondary;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  hr {
    border: 0;
    border-top: 1px solid #EBECF0;
    box-sizing: content-box;
    width: 100%;
    flex: 1;
    height: 0;
    margin: 0;
    overflow: visible;
  }
  p {
    color: #73797E;
    margin-bottom: 0;
    padding: 0 10px;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .login-page {
    .login-container {
      width: 100%;
    }
  }
}