//Global
$nav-height: 57px;

// typography
$font-primary: Ubuntu, sans-serif;
$font-secondary: Roboto, sans-serif;

//colors
$color-primary: #07A4FF;
$color-error: #CF3A24;
$color-background: #F5F6FA;
$color-nav-underline: #DDE2ED;
$color-secondary-button: #919EC5;
$color-input-outline: #E6E9F2;
$color-table-line: #E6E9F2;
$color-edit-button: #DDE2ED;
$color-tags: #525E83;
$color-search-not-found: #f7d4d4;
$color-search-border:#E9ECF4;
$color-danger: #E05273;

$color-text-primary: #19233C;
$color-text-main-nav: #BFC5D1;
$color-text-sub-nav: #8B93A6;
$color-text-nav-selected: #E41C3D;
$color-text-link: #3592E0;
$color-text-label: #8B93A6;
$color-text-input-placeholder: #8F99B3;
$color-text-button: #ffffff;
$color-text-table-header: #8B93A6;

$link-color: $color-text-link;
$primary: $color-primary;

$btn-font-family: $font-primary;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.125 !default;